In [2]:
import pandas as pd

In [3]:
movies = pd.read_csv("data/movies.csv")

In [12]:
movies[:1]

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

# Popularity-Based Filtering

Calculate a weighted rating

WR = (v + (v+m)) x R + (m + (v+m)) x C
v = number of votes for a movie
m = minimum number of votes required
R = average rating of the movie
C = average rating across all movies

In [18]:
m = movies["vote_count"].quantile(0.9)
print(m)

1838.4000000000015

In [19]:
C = movies["vote_average"].mean()
print(C)

6.092171559442016

WR = (v / (v+m)) x R + (m / (v+m)) x C

In [27]:
movies_filtered = movies.copy().loc[movies["vote_count"] >= m]

In [20]:
def weighted_rating(df, m=m, C=C):
    R = df["vote_average"]
    v = df["vote_count"]
    wr = ((v / v+m) * R) + (m / (v+m) * C)
    return wr

In [29]:
movies_filtered["weighted_rating"] = movies_filtered.apply(weighted_rating, axis=1)

In [39]:
movies_filtered.sort_values("weighted_rating", ascending=False)[["title", "weighted_rating"]].head(10)

                         title  weighted_rating
1881  The Shawshank Redemption     15636.015145
3337             The Godfather     15452.408618
2731    The Godfather: Part II     15269.183637
2294             Spirited Away     15268.992360
3865                  Whiplash     15268.858331
1818          Schindler's List     15268.835976
3232              Pulp Fiction     15268.110923
662                 Fight Club     15268.015418
2247         Princess Mononoke     15086.010823
1987      Howl's Moving Castle     15086.004701